.thumbnail-img {
    width: 300px;
    height: auto;
}

.thubnail-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail-container {
    margin-left: 3px;
    margin-right: 3px;
}

.thumbnail-title {
    width: 300px;
    color: black;
    overflow: hidden;
    white-space:nowrap; 
    text-overflow: ellipsis;
}
